/* Layout */

img {
    width: auto;
    height: auto;
}

#small-caps {
  font-variant-caps: small-caps;
}
	
a {
    text-decoration: none;
    color: #4a13c6;
}

a:hover {
		background-color: #4a13c6;
		color: white;
}

body {
    margin: 10px;
    font-size: 100%;
    line-height: 135%;
}

.stats {
}

@media handheld, only screen and (max-width: 767px) {
    .stats {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
    }
}
