/* Layout */

img {
    width: auto;
    height: auto;
}

.boxy {
    background-color: #4a13c6;
    padding: 10px;
    color: white;
}

a.linkinsideboxy {
    color: yellow;
}

#small-caps {
  font-variant-caps: small-caps;
}

.title {
    font-size: 200%;
    padding-top: 40px;
    padding-bottom: 10px;
}
	
a {
    text-decoration: none;
    color: #4a13c6;
}

a:hover {
		background-color: #4a13c6;
		color: white;
	}

ul {
    /*list-style-position: inside; */
    padding-left: 20px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    margin: 10px;
    font-size: 100%;
    line-height: 135%;
}
