/* Layout */

img {
    width: auto;
    height: auto;
}

#small-caps {
  font-variant-caps: small-caps;
}
	
a {
    text-decoration: none;
    color: #4a13c6;
}

a:hover {
		background-color: #4a13c6;
		color: white;
}

body {
    margin: 10px;
    font-size: 100%;
    line-height: 135%;
}
